html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		title Restaurants
	body
		.d-flex.justify-content-center.align-items-center.fullHeight
			.formWrapper.col-6
				#errorWrapper No restaurants found.
				ul#restaurantsWrapper.list-group(style='display: none')


	script(src='https://code.jquery.com/jquery-3.4.1.min.js')
	script(src='javascripts/restaurants.js')
